.ml1-WipeAnimation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.ml1-WipeAnimation_Container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ml1-wipe-color);
    transform: translate(100%);
}

.ml1-WipeAnimation_Container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #000 0, #ccc 33.333333%, #000 66.666666%, #ccc);
    background-size: 300% 100%;
    mix-blend-mode: multiply;
    opacity: .5;
    z-index: -1;
    animation: moveGradient 10s infinite linear both;
}


@keyframes animateInOutLeftToRight {
    0% {
        transform: translate(-100%);
        opacity: 1;
    }
    5%, 75% {
        transform: translate(0);
        opacity: 1;
    }
    85%, 100% {
        transform: translate(100%);
        opacity: 0;
    }
}

.ml1-WipeAnimation_Container-rightAlign {
    animation: var(--ml1-animation-duration) cubic-bezier(.1,.85,.32,1) 0s 1 normal both running animateInOutLeftToRight;
}


@keyframes animateInOutRightToLeft {
    0% {
        transform: translate(100%);
        opacity: 1;
    }
    5%, 75% {
        transform: translate(0);
        opacity: 1;
    }
    85%, 100% {
        transform: translate(-100%);
        opacity: 0;
    }
}

.ml1-WipeAnimation_Container-leftAlign {
    animation: var(--ml1-animation-duration) cubic-bezier(.1,.85,.32,1) 0s 1 normal both running animateInOutRightToLeft;
}

/*CHEVRONS*/
.ml1-WipeAnimation_ChevronsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ml1-WipeAnimation_Chevron{
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes animateChevronRightToLeft {
    0% {
        transform: translate(-100%);
    }
    25% {
         transform: translate(0);
    }
    70% {
        transform: translate(-1%);
    }
    100% {
        transform: translate(100%);
    }
}


.ml1-WipeAnimation_Chevron-rightAlign {
    left: auto;
    background-color: var(--ml1-icon-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: right;
    mask-position: right;
    mask-size: contain;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85' height='195' viewBox='0 0 85 195'%3E%3Cpath fill='{0}' fill-rule='evenodd' d='M.788 0L0 .65l82.733 96.659L0 193.989l.788.641 83.268-97.315z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85' height='195' viewBox='0 0 85 195'%3E%3Cpath fill='{0}' fill-rule='evenodd' d='M.788 0L0 .65l82.733 96.659L0 193.989l.788.641 83.268-97.315z'/%3E%3C/svg%3E");
    animation: 5s cubic-bezier(.175,.85,.32,1) 0s 1 normal both running animateChevronRightToLeft;
}


@keyframes animateChevronLeftToRight {
    0% {
        transform: translate(100%);
    }
    25% {
        transform: translate(0);
    }
    70% {
        transform: translate(1%);
    }
    100% {
        transform: translate(-100%);
    }
}

.ml1-WipeAnimation_Chevron-leftAlign {
    right: auto;
    mask-size: contain;
    background-color: var(--ml1-icon-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left;
    mask-position: left;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85' height='195' viewBox='0 0 85 195'%3E%3Cpath fill='{0}' fill-rule='evenodd' d='M83.268 0l.788.65L1.323 97.309l82.733 96.68-.788.641L0 97.315z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85' height='195' viewBox='0 0 85 195'%3E%3Cpath fill='{0}' fill-rule='evenodd' d='M83.268 0l.788.65L1.323 97.309l82.733 96.68-.788.641L0 97.315z'/%3E%3C/svg%3E");
    animation: 5s cubic-bezier(.175,.85,.32,1) 0s 1 normal both running animateChevronLeftToRight;
}



/*CONTENT CONTAINER*/
.ml1-WipeAnimation_ContentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes animateSlowMotionPanel-ra {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}

.ml1-WipeAnimation_ContentContainer-rightAlign {
    text-align: right;
    justify-content: end;
    animation: animateSlowMotionPanel-ra 5s ease-out both;
}

@keyframes animateSlowMotionPanel-la {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0);
    }
}

.ml1-WipeAnimation_ContentContainer-leftAlign {
    text-align: left;
    justify-content: start;
    animation: animateSlowMotionPanel-la 5s ease-out both;
}



@keyframes animateInOutText-ra {
    0% {
        transform: translate(-100%);
    }
    10%, 75% {
        transform: translate(0);
    }
    85%, 100% {
        transform: translate(100%);
    }
}
@keyframes animateInOutText-la {
    0% {
        transform: translate(100%);
    }
    10%, 75% {
        transform: translate(0);
    }
    85%, 100% {
        transform: translate(-100%);
    }
}

@keyframes animateInOutTextOpacity {
    0%, 2% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
    }
}


.ml1-WipeAnimation_ContentWrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
}

.ml1-WipeAnimation_ContentWrapper-leftAlign {
    align-items: flex-start;
    animation: animateInOutText-la 5s cubic-bezier(.075,.82,.165,1), animateInOutTextOpacity 5s ease;
}

.ml1-WipeAnimation_ContentWrapper-rightAlign {
    align-items: flex-end;
    animation: animateInOutText-ra 5s cubic-bezier(.075,.82,.165,1), animateInOutTextOpacity 5s ease;
}

/*TITLE*/
.ml1-WipeAnimation_Title {
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 71px;
    color: #fff;
}

/*SUBTITLE*/
.ml1-WipeAnimation_SubTitle{
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    color: var(--ml1-team-subtext-color);
    position: relative;
    font-style: italic;
    text-transform: uppercase;
}

.ml1-WipeAnimation_SubTitle-rightAlign {
    left: auto;
    right: -6px;
}

.ml1-WipeAnimation_SubTitle-leftAlign {
    right: auto;
    left: -6px;
}



.ml1-WipeAnimation_Icon-var {
    background-color: var(--ml1-icon-color);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 56px;
    height: 40px;
    margin-left: 11px;
    margin-top: 9px;
    order: 1;
    --mixin-svg-inlined: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='40' viewBox='0 0 56 40'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%2358E476' stroke-width='4' d='M2 2h51.5v28.5H2z'/%3E%3Cpath fill='%2358E476' d='M9 36.5h37V40H9z'/%3E%3C/g%3E%3C/svg%3E");
    mask-image: var(--mixin-svg-inlined);
}


